img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn {
  cursor: pointer;
}

nav {
  box-shadow: 0px 0px 12px 0px #343a4082;
}

.main-container-mobile {
  margin-top: 1em;
  margin-bottom: 4em;
}

.main-container-desktop {
  padding: 1em 0;
  margin: 1em;
  box-shadow: 3px 4px 13px 0px #17a2b873;
  display: none;
}

.main-container-mobile li.list-group-item {
  padding: 0.75rem 1.75rem;
}

.main-container-desktop ul.cat-list {
  padding-left: 1em;
}

.card-body-mobile {
  padding-bottom: 0;
}

.cat-name {
  display: inline;
}

.card-title-mobile {
  /*text-decoration: underline;*/
}

.cat-image-container {
  text-align: center;
}
.user-tip {
  font-size: 2vh;
  text-align: justify;
}

.change-cat-btn {
}

.cat-list {
  list-style-type: none;
  cursor: pointer;
}

.cat-list li:hover {
    color: #18a2b9;
}

.change-cat-dropdown {
  width: 100%;
  margin-bottom: 0.5em;
}

.admin-button {
  margin-left: 0.5em;
}

.cat-button-desktop {
  display: none;
  padding: 0 1em;
  margin-bottom: 3em;
}

li.nicknames-li-desktop {
  width: 60%;
  border-bottom: 1px solid #18a2b9;
  text-align: right;
}

.nicknames-li-mobile:hover {
    background-color: #f8f9fa;
}

.nicknames-li-desktop:hover {
    background-color: #f8f9fa;
}

.modal-title {
  color: #18a2b9;
}

#admin-form {
}

#form-cat-name {
  margin-left: 0.5em;
}

#form-image-url {
  margin-left: 0.5em;
}

#form-clicks-counter {
  margin-left: 0.5em;
}

.admin-remove-nickname-btn {
  float: inherit;
  cursor: pointer;
  margin-left: 0.25em;
}

.admin-add-new-nickname-btn {
  margin-left: 2em;
  font-size: 0.7em;
  margin-top: 0.5em;
}

.nicknames-fields-admin {
  display: flex;
  margin-left: 1.5em;
}

#remove-nickname-btn {
  color: #dd3645;
  border: 1px solid;
  border-radius: 4em;
  margin: 0.5em;
}

#remove-nickname-btn:hover {
  color: white;
  background-color: #dd3645;
}

#add-nickname-btn {
  border: 1px solid;
  color: #343a40;
  border-radius: 4em;
}

#add-nickname-btn:hover {
  background-color: #343a40;
  color: white;
}

.add-user-cat-form-modal-buttons {
  text-align: right;
}

#user-cat-success-alert, #cats-sorted-success-alert, #cannot-delete-all-cats-alert {
  position: absolute;
  z-index: 10;
  width: 50vw;
  top: 40vh;
  left: 20vw;
  display: none;
}

.modal-footer {
  flex-wrap: wrap;
}
